.dropdown-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: clamp(130px, 20vw, 240px);
    cursor: pointer;
    font-size: clamp(11px, 1.4vw, 14px);
    z-index: 2;
}

.dropdown-menu .header {
    width: 100%;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    border: solid 1px var(--clr-border-third);
    background-color: var(--clr-background-secondary);
    color: var(--clr-font-fourth);
}

.dropdown-menu .header img {
    width: clamp(11px, 1.4vw, 12px);
}

.dropdown-menu .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px 0 var(--clr-shadows);
    background-color: var(--clr-background-secondary);

    animation-duration: .3s;
    animation-name: appear;
    animation-fill-mode: forwards;
}

.dropdown-menu .body img {
    width: clamp(16px, 1.4vw, 24px);
}

.dropdown-menu .option {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--clr-font-fourth);

}

.dropdown-menu .option:hover {
    background-color: rgba(194, 194, 194, 0.065)
}