.dropdown-menu {
    background-color: aquamarine;
    max-width: 10rem;
}

.dropdown-header {
    background-color: cadetblue;
}

.dropdown-header img {
    width: 1rem;
}

.dropdown-body {
    animation-duration: .3s;
    animation-name: appear;
    animation-fill-mode: forwards;
}