.nav-container {
    margin-bottom: clamp(30px, 5vw, 70px);
    padding-top: clamp(12px, 3vw, 44px);
    padding-bottom: clamp(12px, 3vw, 44px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, var(--clr-background-gradient-primary) -32%, var(--clr-background-gradient-secondary) 124%);
}

.nav-container nav {
    width: 100%;
    max-width: 80%
}

.nav-container img {
    width: clamp(120px, 20vw, 208px);
}

@media (max-width: 780px) {
    .nav-container nav {
        width: min(500px, 98%);
        max-width: 100%;
    }
}